body {
  box-sizing: border-box;
}

.block {
  margin-bottom: 20px;
}

label {
  display: block;
}

.stringdate {
  margin-bottom: 10px;
}

.block .stringdate:last-of-type {
  margin-bottom: 0;
}

.choose {
  display: flex;
}
